* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 0px;
}

html {
    width: 1200px;
}

.tit1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 28px;
    color: #C27159;
}

.tit2 {
    font-weight:100;
    font-size: 28px;
    line-height: 27px;
    color: #FFFFFF;
}

.tit3 {
    font-weight:bold;
    font-size: 23px;
    line-height: 17px;
    color: #C27159;
}

.p1 {
    font: weight 100px;
    font-size: 18px;
    line-height: 20.9px;
    color: #7A503E;
}

.p2 {
    font: weight 100px;
    font-size: 15px;
    line-height: 16.1px;
    color: #000000;
}

.p3 {
    font: weight 100px;
    font-size: 12px;
    line-height: 12.88px;
    color: #7A503E;
}

.p4 {
text-decoration: underline;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile {
    display: none;
}

.desktop {
    display: inline-block;

}

/* ---------------Inicio seccion 1 DESKTOP---------------*/

@media( min-width: 500px){
#seccion1{
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

    background-color:#180E0C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu>div{
    display: none;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    box-sizing: border-box;

}
.btn:hover{
    text-align: center;
    width: 70px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


/* ----------------fin  seccion 1 DESKTOP---------------*/

/* ---------------Inicio seccion 2 DESKTOP--------------*/
/* ----------------fin  seccion 2 DESKTOP---------------*/

/* ---------------Inicio seccion 3 DESKTOP--------------*/


#seccion3 {
    display: flex;
    flex-direction: row;
}
.sub-contenedor {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.contenedor-vertical {
	width:300px;
    margin:50px 0 50px;
    padding: 2%;
	height:auto;
	text-align:center;
    box-sizing: border-box;
}

.contenedor-vertical>h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

/* ----------------fin  seccion 3 DESKTOP---------------*/

/* ---------------Inicio seccion 4 DESKTOP--------------*/


#seccion4 {
    display: flex;
    flex-direction: row;
    background-color: #37201A;
}
.seccion4-A{
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    box-sizing: border-box;
    margin-left: 20px;
}

.seccion4-A p {
    display: inline-block;
    width: 70%;
    vertical-align:top;
    box-sizing: border-box;
    margin-left: 10px;
}

.seccion4-A div {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}


.seccion4-B{
    box-sizing: border-box;
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
}

.seccion4-B div {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ----------------fin  seccion 4 DESKTOP---------------*/

/* ---------------Inicio seccion 5 DESKTOP--------------*/


#seccion5 {
    display: flex;
    flex-direction: row;
    background-color: #251611;
}
#seccion5>div { 
    width: 70%;
}

#seccion5 h2{
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#seccion5 p {
    box-sizing: border-box; 
    margin-left: 20px;
    margin-top: 30px;
}

#seccion5>div>p>span {
    color: #C27159;
}

/* ----------------fin  seccion 5 DESKTOP---------------*/

/* ----------------Inicio  fotter DESKTOP---------------*/

fotter {
    width: 1200px;
    height: 80px;
    background-color: #180E0C;

}

fotter p {
    display: block;
    margin-top: 10px;
    color: #7A503E;
    margin-top: 10px;
    width: 1200px;
    height: 20px;
    text-align: center;
}
}
/* ----------------fin  fotter DESKTOP---------------*/


@media screen and (max-width: 500px) {
html {
    width: 375px;
}

.tit1 {
    font-size: 21px;
}
.tit2 {
    font-size: 20px;
}
.tit3 {
    font-size: 13px;
}
.p1 {
    font-size: 13px;
}
.p2 {
    font-size: 10px;
}
.p3 {
    font-size: 8px;
}

.mobile {
    display: inline-block;
}

.desktop {
    display: none;
}

/* ---------------Inicio seccion 1---------------*/

#seccion1 {
    width: 375px;
    height: 60px;
    background-color:#180E0C;
    display: flex;
    flex-direction: row;
}

#seccion1>div {
    width: 50%;
    height: 100%;
}

#seccion1>div>p {
    position: absolute;
    left: 36px;
    top: 16px;
}

#menu>div {
    position: absolute;
    width: 27px;
    height: 18px;
    top: 21px;
    left: 311px;
}

hr{
    margin-top: 5px;
    border-style: double;
    color: #FFFFFF;
}

nav {
    display: none;
}

/* ----------------fin  seccion 1 ---------------*/

/* ---------------Inicio seccion 2---------------*/

#seccion2 {
    width: 375px;
    height: 134px;
}

/* ----------------fin  seccion 2 ---------------*/

/* ---------------Inicio seccion 3---------------*/

.sub-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 302px;
    padding-left: 36px;
    margin-top: 34px;
}

articule h2 p{
    width: 146px;
    height: 30px;
}

/* ----------------fin seccion 3 ---------------*/

/* ---------------Inicio seccion 4---------------*/

#seccion4 {
    top:703px;
    width: 375px;
    height: 1080px;
    margin-top: 28.9px;
    background-color: #37201A;
}
#seccion4>div{
    padding-left: 36px;
    box-sizing: content-box;
}

.seccion4-A>div>h2 {
    position: relative;
    width: 259;
    height: 30px;
    margin-top: 31px;
    color: #C27159;
    margin-bottom: 8px;
}

.seccion4-A p {
    display: inline-block;
    width: 223.5px;
    height: 54px;
    margin-left: 10px;
    vertical-align:50%;
    margin-top: 13px;
    color: #7A503E;
}

.seccion4-B>div>h2 {
    width: 302;
    height: 30px;
    margin-top: 33.9px;
    color: #C27159;
    margin-bottom: 8px;
}

.seccion4-B p {
    display: inline-block;
    width: 302px;
    height: 228px;
    vertical-align:50%;
    margin-top: 13px;
    color: #7A503E;
    line-height: 20.93px;
}

/* ----------------fin seccion 4 ---------------*/

/* ---------------Inicio seccion 5---------------*/

#seccion5 {
    width: 375px;
    height: 450px;
    background-color: #251611;
}

#seccion5> div {
    width: 302px;
    margin-left: 36px;
}

#seccion5>div>h2 {
    color: #7A503E;
    margin-top: 33px;
    height: 30px;
}

#seccion5>div p {
    color: #7A503E;
    margin-top: 10px;
}

#seccion5>div>p>span {
    color: #C27159;
}

/* ----------------fin seccion 5 ---------------*/

/* ---------------Inicio fotter---------------*/

fotter {
    width: 375px;
    height: 41px;
    background-color: #180E0C;
}

fotter p {
    text-align: center;
    color: #7A503E;
    margin-top: 10px;
    height: 54px;
    width: 184px;
}
}